@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><i class="fas fa-utensils"></i> Essensplaner <i class="fas fa-utensils"></i></h1>
    <br />
    <br />
    <div>
        <h4>Das ist alles geplant oder bereits in Arbeit:</h4><br />
        <a>• Wochenplanung als Highlights auf der Startseite</a><br />
        <a>• Liste mit Mahlzeiten und "bool(mag ich)" für jeden Mitesser</a><br />
        <a>• Randomizer für den fall wenn man nicht weiß worauf man lust hat</a><br />
        <a>• Bewertungsseite für jede Person</a><br />
        <a>• Persönliche Logins für jeden Mitesser</a><br />
        <a>• Details- Seite für jede Mahlzeit (never ending story)</a><br />
        <a>• (Details) Rezept</a><br />
        <a>• (Details) Zutaten</a><br />
        <a>• (Details) Inhaltsstoffe</a><br />
    </div>

</div>
