@{
    ViewData["Title"] = "Home Page";
}

@*Header für jede View*@
<div class="text-center">
    <h1 class="display-4"><i class="fas fa-utensils"></i> Essensplaner <i class="fas fa-utensils"></i></h1>
    <br />
    <br />
</div>
@*Header Ende*@

<div class="text-center">
    Bitte warten...
</div>
