@model IEnumerable<What2Eat.Models.TodoListeModel>

@{
    ViewData["Title"] = "TodoListe";
}

@*Header für jede View*@
<div class="text-center">
    <h1 class="display-4"><i class="fas fa-utensils"></i> TODOs <i class="fas fa-utensils"></i></h1>
    <br />
    <br />
</div>
@*Header Ende*@

<div class="text-center">

    <table class="table-borderless" align="center">
        <tr>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td align="left"><div align="center">@Html.DisplayFor(modelItem => item.OffenePunkte)</div></td>
            </tr>
        }
    </table>
</div>